<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>

<title>小码哥行政通用管理系统</title>

{% load staticfiles %}
<link rel='stylesheet' href="{% static "login/login.css"  %}">

<style>

</style>

	<script type="text/javascript">
		function changing(){
			document.getElementById('checkpic').src="../verify_code/?"+Math.random();
		}
	</script>

</head>

<body>

<form id="login" name="form1" method="post" action="../check_login/">
    {% csrf_token %}
    <h1>教学通用管理系统</h1>
    <fieldset id="inputs">
        <input id="username" name="username" type="text" placeholder="请输入用户名" autofocus required>
        <input id="password" name="password" type="password" placeholder="请输入密码" required >
        <input id="yanzhenma" name="codeImage" placeholder="请输入下面的验证码，点击验证码可以刷新" type="text" size="6" required ><img style=""  alt="看不清" id="checkpic" onclick="changing();" src="../verify_code/" />

    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" name="submit" value="登录" style="margin-right:2px"  >
		<input name="button" id="submit" onclick="window.location.href='../register'" type="button" value="注册" style="margin-right:2px" >
		<input name="button" id="submit" onclick="window.location.href='resetfn.php'" type="button" value="忘记密码？">
        <br><input name="button" id="submit" onclick="window.location.href='http://gz.xmg520.com:82'" type="button" value="忘记密码？">

    </fieldset>

    <br><br><br>
    <h2>powered by django2.0</h2>
</form>



</body>
</html>