<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
        <link rel="icon" href="/static/favicon.ico" />
<title>小碼哥&叩丁狼-教學通用網絡管理系統</title>

{% load staticfiles %}

<!-- <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel='stylesheet' href="{% static "login/login.css"  %}">

<style>

</style>

	<script type="text/javascript">
		function changing(){
			document.getElementById('checkpic').src="../verify_code/?"+Math.random();
		}
	</script>

</head>

<body>

        <script type="text/javascript">
            $(document).ready(function(){
              $("#login").submit(function(e){
                var username = $("#username").val();
                var password = $("#password").val();
                var codeImage = $("#yanzhenma").val();
                var csrf = $("input[name='csrfmiddlewaretoken']").val();
                  var post_data = {"username":username,"password":password,"codeImage":codeImage,"csrfmiddlewaretoken":csrf}

                $.post("/estimate/check_login/",post_data, function(data) {
                if (data['operate'] == "True"){
                    window.location="/estimate/index";
                }
                 else{alert(data['message']);}
                });

                e.preventDefault();
               
              });
            });
            </script>
            <br><br><br>
        
            <center>
                <h1 style="color:red">全世界听住!attention!</h1>
            <h2>评价系统已经由php开发转换到python开发</h2>
            <h2>以前嘅<span style="color:red">账号密码已经同步</span>过嚟,大家可以试下使用以前嘅账号密码</h2>
            <h3>有问题记得反馈喔~</h4>
        </center>

<form id="login" name="form1" method="post" action="../check_login/">
    {% csrf_token %}
    <h1>小碼哥&叩丁狼-教學通用管理系統</h1>
    <fieldset id="inputs">
        <input id="username" name="username" type="text" placeholder="请输入用户名" autofocus required>
        <input id="password" name="password" type="password" placeholder="请输入密码" required >
        <input id="yanzhenma" name="codeImage" autocomplete="off" placeholder="请输入下面的验证码，点击验证码可以刷新" type="text" size="6" required ><img style=""  alt="看不清" id="checkpic" onclick="changing();" src="../verify_code/" /><a href="javascript:void(0)" onclick="changing()">睇唔清楚??点击尼度刷新验证码</a>

    </fieldset>
    <fieldset id="actions">
        <input  type="submit" id="submit" name="submit" value="登录" style="margin-right:2px"  >
		<input name="button" id="submit" onclick="window.location.href='http://gz.520langma.com:82/register/'" type="button" value="注册" style="margin-right:2px" >
		<input  name="button" id="submit" onclick="window.location.href='http://gz.520langma.com:82/register/reset_pwd'" type="button" value="忘记密码？">
        <br><input  name="button" id="submit" onclick="window.location.href='http://gz.xmg520.com:82'" type="button" value="旧系统用于控制网络">

    </fieldset>

    <br><br><br>
    <h2>powered by django2.0</h2>
</form>



</body>
</html>