<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
        <link rel="icon" href="/static/favicon.ico" />
<title>小碼哥&叩丁狼-教學通用網絡管理系統</title>

{% load staticfiles %}


<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}" ></script>

<link rel='stylesheet' href="{% static "login/login.css"  %}">

<style>

</style>

	<script type="text/javascript">
		function changing(){
			document.getElementById('checkpic').src="../verify_code/?"+Math.random();
		}
	</script>

</head>

<body>

        <script type="text/javascript">
            $(document).ready(function(){
              $("#login").submit(function(e){
                var username = $("#username").val();
                var password = $("#password").val();
                var codeImage = $("#yanzhenma").val();
                var csrf = $("input[name='csrfmiddlewaretoken']").val();
                  var post_data = {"username":username,"password":password,"codeImage":codeImage,"csrfmiddlewaretoken":csrf}

                $.post("/estimate/check_login/",post_data, function(data) {
                if (data['operate'] == "True"){
                    window.location="/estimate/index";
                }
                 else{alert(data['message']);}
                });

                e.preventDefault();
               
              });
            });
            </script>
            <br><br><br>
        
            <center>
                <h1 style="color:red">现在已经支持微信一键登陆，但是仅限广州，如有其他需求可以提出</h1>
               
            <h3>有问题记得反馈喔~</h4>
        </center>

<form id="login" name="form1" method="post" action="../check_login/">
    {% csrf_token %}
    <h1>小碼哥&叩丁狼-教學通用管理系統</h1>
    <fieldset id="inputs">
        <input id="username" name="username" type="text" placeholder="请输入用户名" autofocus required>
        <input id="password" name="password" type="password" placeholder="请输入密码" required >
        <input id="yanzhenma" name="codeImage" autocomplete="off" placeholder="请输入下面的验证码，点击验证码可以刷新" type="text" size="6" required ><img style=""  alt="看不清" id="checkpic" onclick="changing();" src="../verify_code/" /><a href="javascript:void(0)" onclick="changing()">睇唔清楚??点击尼度刷新验证码</a>

    </fieldset>
    <fieldset id="actions">
        <input  type="submit" id="submit" name="submit" value="登录" style="margin-right:2px"  >
		<input name="button" id="submit" onclick="window.location.href='http://gz.520langma.com:8020/register/'" type="button" value="注册" style="margin-right:2px" >
		<input  name="button" id="submit" onclick="window.location.href='http://gz.520langma.com:8020/register/reset_pwd'" type="button" value="忘记密码？">
        

    </fieldset>

    <br><br><br>
    <h2>powered by django2.0</h2>
</form>
{% load staticfiles %}
<div style="position: fixed;bottom: 40px;right: 40px;width: 259px;height: 259px;overflow: hidden;"><img class="img-responsive " src="{% static 'login/weixin.png' %}" alt="叩丁狼教育" style="
    margin-top: -2px;
    margin-left:  -2px;
">
</div>


</body>
</html>