<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>
</head>
<body>
    <center>

        <h1>华为ICT-评分系统密码重置</h1>

        <hr>
        <form>
                <input type="None" autocomplete="off" name="email">
                <input type="submit" value="点击发送重置请求到邮箱">
        </form>
        {%if message%}
        <p style="color:red" >{{message}}</p>
        {%endif%}
    </center>
    
</body>
</html>