<!DOCTYPE html>
<html>
   <head>
      <title>华为ICT教育</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="/static/bootstrap.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
 
   </head>
   <body>
    <div class="container">
        <div class="jumbotron">
             <center><h1>请根据实际需求选择性登陆!</h1>
             <p>注意!不同的系统账号并不通用</p>
             <p>
                 <button class="btn btn-danger btn-lg" onclick="window.open('http://192.168.113.1/student');" role="button">UI,HTML5学员入口</button>
                 <button class="btn btn-danger btn-lg" onclick="window.open('http://y.xmg520.com:82/estimate/index');" role="button">UI,HTML5老师入口</button>
             <button class="btn btn-primary btn-lg" onclick="window.open('http://192.168.113.2/student');" role="button">JAVA学员入口</button>
             <button class="btn btn-primary btn-lg" onclick="window.open('http://gz.520langma.com:82/estimate/index');" role="button">JAVA学员老师入口</button>
        <button class="btn btn-warning btn-lg" onclick="window.open('http://192.168.113.47');" role="button">新生信息登记入口</button>
             </p></center>
        </div>
     </div>
 
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
      <!-- 包括所有已编译的插件 -->
      <!-- <script src="js/bootstrap.min.js"></script> -->
   </body>
</html>
