{%extends 'estimate/base.html' %}

{% block body %}

<h1>重要!请一定核对好信息之后再填写数据!</h1>

<table class="table table-responsive table-striped table-hover table-bordered" style="width:auto" cellspacing="0" cellpadding="0" border="1" >
 	
    <tbody>

            <tr>
                    <td style="text-align:center">请选择你所在的区域</td>
                    <td style="text-align:center">请输入用于设置展示给学生的ip地址,格式是x.x.x.x</td>
                    
                    </tr>

            <tr>
                    <td style="text-align:center">

                            <select name="block">
                                <!-- 这里是用于循环 -->
                                <option value=""></option>
                            </select>

                    </td>
                    <td style="text-align:center"><input type="text" name="ip_addr" value="" ></td>
                

            </tr>
                    

        </tbody>

        </table>

{%endblock body %}

