{%extends 'estimate/base.html' %}

{% block body %}

<h1>重要!请一定核对好信息之后再填写数据!</h1>

<table class="table table-responsive table-striped table-hover table-bordered" style="width:auto" cellspacing="0" cellpadding="0" border="1" >
 	<form action="" method="POST" >
    <tbody>

            <tr>
                    <td style="text-align:center">请选择你所在的区域</td>
                    <td style="text-align:center">请输入用于设置展示给学生的ip地址,格式是x.x.x.x</td>
                    {%csrf_token%}
                    
                    </tr>

            <tr>
                    <td style="text-align:center">

                            <select name="block">
                                <!-- 这里是用于循环 -->
                                {%if location_info %}
                                {%for x in location_info%}
                                <option {%if x.id == admin_setting.0.location.id %} selected="selected"  {%endif%}  value="{{x.id}}">{{x.location_name}}</option>
                                {%endfor%}
                                {%endif%}
                            </select>

                    </td>
                    <td style="text-align:center"><input type="text" name="ip_addr" value="{{admin_setting.0.ip}}" ></td>
                

            </tr>
        
            <tr><td colspan="2"  style="text-align:center" ><input class="btn btn-success" type="submit" value="点击提交" ></td></tr>

           

        </tbody>
        
    </form>
        </table>

       <center>
           <p>下面展示的是代码更新结果</p>
           <div style="width:800px;">
               <span>
                   {{updateRes}}
               </span>
           </div>
       </center>

        {%if set_success%}

        <script> 
                $(document).ready(function(){
                        setTimeout(function(){$("#message").slideUp("slow")},800)
                  });

                </script>

        <div id='message' class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">
                        &times;
                </a>
               设置成功!
        </div>
        {%endif%}
    
{%endblock body %}

