<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/static/favicon.ico" />
    <title>{{ title }}</title>

    {% load staticfiles %}
    <link href='{% static "estimate/common.css" %}'>

    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<script language="javascript" type="text/javascript">

		function estimate_submit(){
			$("type='submit'").click(function(){$()})
		}

		function getArea(id,p,query){
			//初始化ajax
			var xhr = new XMLHttpRequest();
			var url = "ajax_estimate/?"+query+"="+id+"&r="+Math.random()+"&xmg520it="+"Lizhixuan123!";
			var sel=document.getElementById(p);
			//var assetTable = document.getElementById('assetDetail');
			//assetTable.innerHTML='<tr><td>hello word</td></tr>';
			//打开请求
			xhr.open("get",url,true);
			//发送数据
			xhr.send(null);

			//等待响应
			xhr.onreadystatechange = function (){

				if(xhr.readyState == 4){
					var arr1=xhr.responseText.split(";");

					//清空下拉菜单
					sel.length=0;
					arr1.length = arr1.length-1;
					for(var i=0;i<arr1.length;i++){
						if(i==0){
							var xx = new Option('--请选择--','');
							sel.add(xx,null);
						}
						var arr2=arr1[i].split(":");

						//产生一个option对象
						//alert(arr2[0]);
						var opt=new Option(arr2[1],arr2[0]);
						//添加到当前列表当中
						sel.add(opt,null);

					}
				}
			};

		}


	</script>

</head>
<body>
    <center>
		<h3>小碼哥&叩丁狼-教學通用網絡管理系統</h3>
		<hr>
		<div class="navbar navbar-default" style="width:100%;">
			<nav  style="width: auto;margin:0 auto" role="navigation" >
					<ul class="nav navbar-nav col" style="display: inline-block;float: none;" >
							<li ><a>欢迎-{{uname}}-登陆</a></li>
						<li ><a href="/estimate">点击设置评价</a></li>
						<li class="dropdown">
							<a href="/estimate/index/manageEstimating" class="dropdown-toggle" >
								管理当前评价
								<b class="caret"></b>
							</a>
						</li>
						<li class="dropdown">
							<a href="/estimate/index/export" class="dropdown-toggle" >
								评分数据导出
								<b class="caret"></b>
							</a>
		
						</li>
		
						<li class="dropdown">
							<a href="/estimate/index/reset_video_code/" class="dropdown-toggle" >
								激活码重置
								<b class="caret"></b>
							</a>
						</li>
		
		
						<li class="dropdown">
							<a href="/estimate/index/network" class="dropdown-toggle" >
								网络管理
								<b class="caret"></b>
							</a>
						</li>

						<li class="dropdown">
							<a href="/estimate/admin_setting" class="dropdown-toggle" >
								管理员站点设置
								<b class="caret"></b>
							</a>
						</li>

						<li class="dropdown">
								<a href="/estimate/kill" class="dropdown-toggle" >
									重置所有评价
									<b class="caret"></b>
								</a>
							</li>

							<li class="dropdown">
									<a href="/admin" class="dropdown-toggle" >
										数据库管理
										<b class="caret"></b>
									</a>
								</li>
		
		
						<li ><a href="/estimate/exit">退出</a></li>
					</ul>
				
			</nav>
		</div>
        {%block body %}

		{%endblock body %}
		

<br><br>
<h2>powered by python,django</h2>
    </center>
</body>
</html>