{%extends 'estimate/base.html' %}

{% block body %}

{% if is_choice %}



<table class="table table-responsive table-striped table-hover table-bordered" style="width:auto" cellspacing="0" cellpadding="0" border="1" >
 	
        <tbody>
<tr>
        <td style="text-align:center">序号</td>
        <td style="text-align:center">老师名字</td>
        <td style="text-align:center">班级</td>
        <td style="text-align:center">开启评价时间</td>
        <td style="text-align:center" colspan="2">操作</td>
        <td style="text-align:center">点击查看评价人数</td>
</tr>
        

{% for x in class_info %}



<tr>
        <td style="text-align:center">{{forloop.counter}}</td>
        <td style="text-align:center">{{x.1}}</td>
        <td style="text-align:center">{{x.2}}</td>
        <td style="text-align:center">{{x.3|date:"Y-m-j H:i"}}</td>
        <td style="text-align:center" ><a target='_blank' href='/estimate/index/export_txt/?teacher_name={{x.1}}&class_name={{x.2}}&class_info_id={{x.0}}&type_detail={{x.6}}&date={{x.3|date:"Y-m-j"}}' >导出text</a></td>
        <td style="text-align:center" >操作</td>
        <td style="text-align:center"><a class="tongzhi" target='_blank' href='/estimate/index/export_txt/?teacher_name={{x.1}}&class_name={{x.2}}&class_info_id={{x.0}}&type_detail={{x.6}}' ></a>点击查看评价人数</td>
</tr>

{%endfor%}
</tbody>
</table>

<script type="text/javascript">

        $("tr").not("tr:eq(0)").each(function(){
        
                // 设置属性,设置点击事件
        
                $(this).find("td").eq(6).children("a").click(function(){
        
                req_url = $(this).attr("href");
                content = $.get(req_url,function(data,state,xhr){
                        x1 = $.parseHTML(data)
                        x2 = x1[17].getElementsByClassName("panel-body")[0].innerText
                        alert(x2)
                        return false
                });
        
                })
        
        })
        
        
                
        </script>

{%else%}

<p>请先选择需要导出评分的对象</p>
<form name="use" action="/estimate/index/export" method="GET">
        <input type="submit" style="font-size:25px" name="port" value="讲师" onclick="addressadd()">
        <input type="submit" style="font-size:25px" name="port" value="班主任" onclick="addressadd()">
        <input type="submit" style="font-size:25px" name="port" value="辅导员" onclick="addressadd()"> 
        <input type="submit" style="font-size:25px" name="port" value="学习反馈" onclick="addressadd()">
        </form>

{%endif%}



{%endblock body %}