{%extends 'estimate/base.html' %}

{% block body %}

<h3>备注：每次设置网络状态，需要等待5秒更新才能显示最新状态，请留意，并非操作没有成功！</h3>

<table id="network" class="table table-responsive table-striped table-hover table-bordered" style="width:auto" cellspacing="0" cellpadding="0" border="1">

    <tbody>
        <tr>
            <td style="text-align:center" >具体课室</td>
            <td style="text-align:center" >具体操作</td>
            <td style="text-align:center" >当前网络状态</td>
            <td style="text-align:center" >设置定时上网</td>
            <td style="text-align:center" >具体操作</td>
        </tr>
        
        
        {% for x in acl_infos %}
        <tr>
        <td style="text-align:center">{{ x.class_number }}</td>
        <td style="text-align:center">
            {% if x.switch == 'offline' %}
            <a href="/estimate/index/set_network/?cls={{ x.id }}&operate=deny&acl=520su1314" ><button id="" class="btn btn-success">点击开网</button>
            {% else %}
            <a href="/estimate/index/set_network/?cls={{ x.id }}&operate=permit&acl=520su1314" ><button id="" class="btn btn-danger">点击断网</button>
            {% endif %}
        </a></td>
        <td style="text-align:center">{{ x.state|safe }}</td>
        <td style="text-align:center">{{ x.rules.timer|safe }}</td>
        <td style="text-align:center"></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        <script type="text/javascript">
        $(function(){
            $(".btn").click(function(){
                $("tbody").hide()
                $("div+h3").html("")
                $("div+h3").after("<h2 id='c1'>稍等,不要乱点,处理紧～等下..<h2><h3 id='c2'>请稍等，不要乱点，处理中..</h3>")
                i = 1
                var time1 = setInterval(function(){$("#c1").append(".");$("#c2").append(".");i++;
                if (i == 13){window.clearInterval(time1);
                    $("div+h3").html("<h2>唔好意思，网络超时,2秒后自动返回</h2>");
                    setTimeout(function(){

                            window.location.href="/estimate/index/network"

                    },2000)

                }
                },1000)
            
            
            
            })
        })
        
        

        </script>

{% endblock body %}