<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评价对象-{{type}}</title>
</head>
<body>
    <center>
    <p style="font-size: 20px">当前评价类型---{{type}}</p>
    <hr>
    {%for x in data%}

    <p style="font-size:20px"><a target="_blank" href="http://192.168.113.1:{{x.type_port}}">{{x.teacher_name}}==>>{{x1.class_name}}</a></p>

    {%endfor%}

</center>
</body>
</html>